mdi-disable-playbook/infra/main.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.43.8.12551",
      "templateHash": "13273711482098586560"
    }
  },
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "[format('pa-mdi-disable-{0}', uniqueString(resourceGroup().id))]",
      "metadata": {
        "description": "Name of the Logic App workflow."
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Azure region for all resources."
      }
    },
    "sentinelWorkspaceResourceId": {
      "type": "string",
      "metadata": {
        "description": "Resource ID of the Sentinel workspace this playbook will respond on. Used only for documentation/output — RBAC is scoped to the RG."
      }
    },
    "tags": {
      "type": "object",
      "defaultValue": {},
      "metadata": {
        "description": "Resource tags."
      }
    },
    "actionsToEnable": {
      "type": "array",
      "defaultValue": [
        "disable",
        "forcePasswordReset"
      ],
      "metadata": {
        "description": "Subset of [\"disable\",\"forcePasswordReset\"] to execute per matched identity."
      }
    },
    "grantGraphPermissionsViaDeploymentScript": {
      "type": "bool",
      "defaultValue": false,
      "metadata": {
        "description": "If true, run the Microsoft.Resources/deploymentScripts path to auto-grant Graph permissions (requires a pre-existing bootstrap UAMI). If false (default), Graph perms must be granted post-deploy by running scripts/grant-graph-permissions.sh (Cloud Shell) or .ps1 (local). Leave false for \"Deploy to Azure\" button flows."
      }
    },
    "bootstrapManagedIdentityResourceId": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Resource ID of a pre-existing user-assigned managed identity that has AppRoleAssignment.ReadWrite.All on Microsoft Graph. Required only when grantGraphPermissionsViaDeploymentScript is true. Leave blank for the post-deploy script path."
      }
    }
  },
  "resources": [
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "logicApp",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "logicAppName": {
            "value": "[parameters('logicAppName')]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "actionsToEnable": {
            "value": "[parameters('actionsToEnable')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "1031265886309913275"
            }
          },
          "parameters": {
            "logicAppName": {
              "type": "string",
              "metadata": {
                "description": "Name of the Logic App workflow."
              }
            },
            "location": {
              "type": "string",
              "defaultValue": "[resourceGroup().location]",
              "metadata": {
                "description": "Azure region."
              }
            },
            "actionsToEnable": {
              "type": "array",
              "defaultValue": [
                "disable",
                "forcePasswordReset"
              ],
              "allowedValues": [
                "disable",
                "forcePasswordReset"
              ],
              "metadata": {
                "description": "Subset of [\"disable\",\"forcePasswordReset\"] to execute per matched identity."
              }
            },
            "tags": {
              "type": "object",
              "defaultValue": {},
              "metadata": {
                "description": "Resource tags."
              }
            }
          },
          "variables": {
            "$fxv#0": {
              "definition": {
                "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                "contentVersion": "1.0.0.0",
                "parameters": {
                  "$connections": {
                    "type": "Object",
                    "defaultValue": {}
                  },
                  "actionsToEnable": {
                    "type": "Array",
                    "defaultValue": [
                      "disable",
                      "forcePasswordReset"
                    ],
                    "metadata": {
                      "description": "Subset of [\"disable\",\"forcePasswordReset\"] to execute per matched identity."
                    }
                  },
                  "graphBaseUrl": {
                    "type": "String",
                    "defaultValue": "https://graph.microsoft.com/beta/security/identities/identityAccounts",
                    "metadata": {
                      "description": "Pinned Graph endpoint base. Change here to cut beta over to v1.0 once GA."
                    }
                  }
                },
                "triggers": {
                  "Microsoft_Sentinel_incident": {
                    "type": "ApiConnectionWebhook",
                    "inputs": {
                      "body": {
                        "callback_url": "@{listCallbackUrl()}"
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                      },
                      "path": "/incident-creation"
                    }
                  }
                },
                "actions": {
                  "Initialize_actionResults": {
                    "type": "InitializeVariable",
                    "inputs": {
                      "variables": [
                        {
                          "name": "actionResults",
                          "type": "Array",
                          "value": []
                        }
                      ]
                    },
                    "runAfter": {}
                  },
                  "Initialize_matchesScratch": {
                    "type": "InitializeVariable",
                    "inputs": {
                      "variables": [
                        {
                          "name": "matchesScratch",
                          "type": "Array",
                          "value": []
                        }
                      ]
                    },
                    "runAfter": {
                      "Initialize_actionResults": [
                        "Succeeded"
                      ]
                    }
                  },
                  "Entities_-_Get_Accounts": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                      },
                      "method": "post",
                      "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                      "path": "/entities/account"
                    },
                    "runAfter": {
                      "Initialize_matchesScratch": [
                        "Succeeded"
                      ]
                    }
                  },
                  "For_each_account": {
                    "type": "Foreach",
                    "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
                    "actions": {
                      "Compose_sid": {
                        "type": "Compose",
                        "inputs": "@coalesce(items('For_each_account')?['Sid'], '')"
                      },
                      "Compose_aadUserId": {
                        "type": "Compose",
                        "inputs": "@coalesce(items('For_each_account')?['AadUserId'], '')",
                        "runAfter": {
                          "Compose_sid": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Check_identifier_present": {
                        "type": "If",
                        "expression": {
                          "or": [
                            {
                              "not": {
                                "equals": [
                                  "@outputs('Compose_sid')",
                                  ""
                                ]
                              }
                            },
                            {
                              "not": {
                                "equals": [
                                  "@outputs('Compose_aadUserId')",
                                  ""
                                ]
                              }
                            }
                          ]
                        },
                        "actions": {
                          "Switch_match_strategy": {
                            "type": "Switch",
                            "expression": "@if(not(equals(outputs('Compose_sid'),'')), 'sid', 'aad')",
                            "cases": {
                              "BySid": {
                                "case": "sid",
                                "actions": {
                                  "List_identityAccounts_by_sid": {
                                    "type": "Http",
                                    "inputs": {
                                      "method": "GET",
                                      "uri": "@{parameters('graphBaseUrl')}",
                                      "queries": {
                                        "$filter": "@{concat('onPremisesSecurityIdentifier eq ''', outputs('Compose_sid'), '''')}",
                                        "$select": "id,displayName,domain,onPremisesSecurityIdentifier,accounts"
                                      },
                                      "authentication": {
                                        "type": "ManagedServiceIdentity",
                                        "audience": "https://graph.microsoft.com"
                                      }
                                    },
                                    "runAfter": {},
                                    "retryPolicy": {
                                      "type": "exponential",
                                      "count": 3,
                                      "interval": "PT30S",
                                      "minimumInterval": "PT10S",
                                      "maximumInterval": "PT2M"
                                    }
                                  },
                                  "Set_matches_from_sid": {
                                    "type": "SetVariable",
                                    "inputs": {
                                      "name": "matchesScratch",
                                      "value": "@body('List_identityAccounts_by_sid')?['value']"
                                    },
                                    "runAfter": {
                                      "List_identityAccounts_by_sid": [
                                        "Succeeded"
                                      ]
                                    }
                                  }
                                }
                              },
                              "ByAad": {
                                "case": "aad",
                                "actions": {
                                  "List_identityAccounts_unfiltered": {
                                    "description": "AAD-fallback: no server-side filter for AadUserId is documented. Fetches a page; for tenants with >100 identityAccounts the workflow MUST be extended to follow @odata.nextLink. Acceptable for v1 against small/mid tenants.",
                                    "type": "Http",
                                    "inputs": {
                                      "method": "GET",
                                      "uri": "@{parameters('graphBaseUrl')}",
                                      "queries": {
                                        "$select": "id,displayName,domain,onPremisesSecurityIdentifier,accounts",
                                        "$top": "999"
                                      },
                                      "authentication": {
                                        "type": "ManagedServiceIdentity",
                                        "audience": "https://graph.microsoft.com"
                                      }
                                    },
                                    "runAfter": {},
                                    "retryPolicy": {
                                      "type": "exponential",
                                      "count": 3,
                                      "interval": "PT30S",
                                      "minimumInterval": "PT10S",
                                      "maximumInterval": "PT2M"
                                    }
                                  },
                                  "Filter_aad_subaccount_match": {
                                    "description": "Keep identityAccounts where any sub-account is provider==EntraID with identifier matching the AadUserId from the incident entity.",
                                    "type": "Query",
                                    "inputs": {
                                      "from": "@body('List_identityAccounts_unfiltered')?['value']",
                                      "where": "@greater(length(filter(coalesce(item()?['accounts'], json('[]')), and(equals(item()?['provider'], 'EntraID'), equals(item()?['identifier'], outputs('Compose_aadUserId'))))), 0)"
                                    },
                                    "runAfter": {
                                      "List_identityAccounts_unfiltered": [
                                        "Succeeded"
                                      ]
                                    }
                                  },
                                  "Set_matches_from_aad": {
                                    "type": "SetVariable",
                                    "inputs": {
                                      "name": "matchesScratch",
                                      "value": "@body('Filter_aad_subaccount_match')"
                                    },
                                    "runAfter": {
                                      "Filter_aad_subaccount_match": [
                                        "Succeeded"
                                      ]
                                    }
                                  }
                                }
                              }
                            },
                            "default": {
                              "actions": {}
                            },
                            "runAfter": {}
                          },
                          "Filter_matches": {
                            "type": "Compose",
                            "inputs": "@variables('matchesScratch')",
                            "runAfter": {
                              "Switch_match_strategy": [
                                "Succeeded"
                              ]
                            }
                          },
                          "Switch_on_match_count": {
                            "type": "Switch",
                            "expression": "@length(outputs('Filter_matches'))",
                            "cases": {
                              "ExactlyOne": {
                                "case": 1,
                                "actions": {
                                  "Compose_identityAccountId": {
                                    "type": "Compose",
                                    "inputs": "@outputs('Filter_matches')[0]?['id']"
                                  },
                                  "Filter_AD_subaccount": {
                                    "type": "Query",
                                    "inputs": {
                                      "from": "@outputs('Filter_matches')[0]?['accounts']",
                                      "where": "@equals(item()?['provider'], 'ActiveDirectory')"
                                    },
                                    "runAfter": {
                                      "Compose_identityAccountId": [
                                        "Succeeded"
                                      ]
                                    }
                                  },
                                  "Check_AD_subaccount_present": {
                                    "type": "If",
                                    "expression": {
                                      "greater": [
                                        "@length(body('Filter_AD_subaccount'))",
                                        0
                                      ]
                                    },
                                    "actions": {
                                      "For_each_action": {
                                        "type": "Foreach",
                                        "foreach": "@parameters('actionsToEnable')",
                                        "actions": {
                                          "Invoke_action": {
                                            "type": "Http",
                                            "inputs": {
                                              "method": "POST",
                                              "uri": "@{concat(parameters('graphBaseUrl'), '/', outputs('Compose_identityAccountId'), '/invokeAction')}",
                                              "headers": {
                                                "Content-Type": "application/json"
                                              },
                                              "body": {
                                                "accountId": "@{body('Filter_AD_subaccount')[0]?['identifier']}",
                                                "action": "@{items('For_each_action')}",
                                                "identityProvider": "activeDirectory"
                                              },
                                              "authentication": {
                                                "type": "ManagedServiceIdentity",
                                                "audience": "https://graph.microsoft.com"
                                              }
                                            },
                                            "retryPolicy": {
                                              "type": "exponential",
                                              "count": 3,
                                              "interval": "PT30S",
                                              "minimumInterval": "PT10S",
                                              "maximumInterval": "PT2M"
                                            }
                                          },
                                          "Append_action_result": {
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                              "name": "actionResults",
                                              "value": {
                                                "identityAccountId": "@{outputs('Compose_identityAccountId')}",
                                                "action": "@{items('For_each_action')}",
                                                "status": "@{outputs('Invoke_action')['statusCode']}",
                                                "result": "ok"
                                              }
                                            },
                                            "runAfter": {
                                              "Invoke_action": [
                                                "Succeeded"
                                              ]
                                            }
                                          },
                                          "Append_action_failure": {
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                              "name": "actionResults",
                                              "value": {
                                                "identityAccountId": "@{outputs('Compose_identityAccountId')}",
                                                "action": "@{items('For_each_action')}",
                                                "status": "@{coalesce(outputs('Invoke_action')?['statusCode'], 0)}",
                                                "result": "failed"
                                              }
                                            },
                                            "runAfter": {
                                              "Invoke_action": [
                                                "Failed",
                                                "TimedOut",
                                                "Skipped"
                                              ]
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "else": {
                                      "actions": {
                                        "Append_no_AD_subaccount": {
                                          "type": "AppendToArrayVariable",
                                          "inputs": {
                                            "name": "actionResults",
                                            "value": {
                                              "identityAccountId": "@{outputs('Compose_identityAccountId')}",
                                              "result": "skipped: no ActiveDirectory sub-account on identityAccount"
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "runAfter": {
                                      "Filter_AD_subaccount": [
                                        "Succeeded"
                                      ]
                                    }
                                  }
                                }
                              },
                              "NoMatch": {
                                "case": 0,
                                "actions": {
                                  "Append_no_match": {
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                      "name": "actionResults",
                                      "value": {
                                        "result": "skipped: MDI has not observed this identity"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "default": {
                              "actions": {
                                "Append_ambiguous": {
                                  "type": "AppendToArrayVariable",
                                  "inputs": {
                                    "name": "actionResults",
                                    "value": {
                                      "matchCount": "@{length(outputs('Filter_matches'))}",
                                      "result": "skipped: multiple identityAccounts matched, refusing to act"
                                    }
                                  }
                                }
                              }
                            },
                            "runAfter": {
                              "Filter_matches": [
                                "Succeeded"
                              ]
                            }
                          }
                        },
                        "else": {
                          "actions": {
                            "Append_no_identifier": {
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "actionResults",
                                "value": {
                                  "result": "skipped: no usable identifier (Sid or AadUserId) on account entity"
                                }
                              }
                            }
                          }
                        },
                        "runAfter": {
                          "Compose_aadUserId": [
                            "Succeeded"
                          ]
                        }
                      }
                    },
                    "runAfter": {
                      "Entities_-_Get_Accounts": [
                        "Succeeded"
                      ]
                    }
                  },
                  "Compose_comment_markdown": {
                    "type": "Compose",
                    "inputs": "@{concat('**MDI playbook results**\n\n```json\n', string(variables('actionResults')), '\n```')}",
                    "runAfter": {
                      "For_each_account": [
                        "Succeeded"
                      ]
                    }
                  },
                  "Add_comment_to_incident": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                      },
                      "method": "post",
                      "body": {
                        "message": "@outputs('Compose_comment_markdown')"
                      },
                      "path": "/Incidents/Comment",
                      "queries": {
                        "incidentArmId": "@triggerBody()?['object']?['id']"
                      }
                    },
                    "runAfter": {
                      "Compose_comment_markdown": [
                        "Succeeded"
                      ]
                    }
                  }
                },
                "outputs": {}
              },
              "parameters": {
                "$connections": {
                  "value": {
                    "azuresentinel": {
                      "connectionId": "",
                      "connectionName": "azuresentinel",
                      "id": "",
                      "connectionProperties": {
                        "authentication": {
                          "type": "ManagedServiceIdentity"
                        }
                      }
                    }
                  }
                }
              }
            },
            "sentinelManagedApiId": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuresentinel')]"
          },
          "resources": [
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2018-07-01-preview",
              "name": "[format('{0}-azuresentinel', parameters('logicAppName'))]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "kind": "V1",
              "properties": {
                "displayName": "[format('{0} Sentinel (MI)', parameters('logicAppName'))]",
                "parameterValueType": "Alternative",
                "parameterValueSet": {
                  "name": "managedIdentityAuth",
                  "values": {}
                },
                "api": {
                  "id": "[variables('sentinelManagedApiId')]"
                }
              }
            },
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[parameters('logicAppName')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "state": "Enabled",
                "definition": "[variables('$fxv#0').definition]",
                "parameters": {
                  "$connections": {
                    "value": {
                      "azuresentinel": {
                        "connectionId": "[resourceId('Microsoft.Web/connections', format('{0}-azuresentinel', parameters('logicAppName')))]",
                        "connectionName": "[format('{0}-azuresentinel', parameters('logicAppName'))]",
                        "id": "[variables('sentinelManagedApiId')]",
                        "connectionProperties": {
                          "authentication": {
                            "type": "ManagedServiceIdentity"
                          }
                        }
                      }
                    }
                  },
                  "actionsToEnable": {
                    "value": "[parameters('actionsToEnable')]"
                  }
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/connections', format('{0}-azuresentinel', parameters('logicAppName')))]"
              ]
            },
            {
              "type": "Microsoft.Resources/deployments",
              "apiVersion": "2025-04-01",
              "name": "[format('{0}-sentinelAccessPolicy', parameters('logicAppName'))]",
              "properties": {
                "expressionEvaluationOptions": {
                  "scope": "inner"
                },
                "mode": "Incremental",
                "parameters": {
                  "connectionName": {
                    "value": "[format('{0}-azuresentinel', parameters('logicAppName'))]"
                  },
                  "location": {
                    "value": "[parameters('location')]"
                  },
                  "principalId": {
                    "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId]"
                  },
                  "tenantId": {
                    "value": "[subscription().tenantId]"
                  }
                },
                "template": {
                  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
                  "contentVersion": "1.0.0.0",
                  "metadata": {
                    "_generator": {
                      "name": "bicep",
                      "version": "0.43.8.12551",
                      "templateHash": "13478468001933032790"
                    }
                  },
                  "parameters": {
                    "connectionName": {
                      "type": "string",
                      "metadata": {
                        "description": "Name of the Microsoft.Web/connections resource the access policy attaches to."
                      }
                    },
                    "location": {
                      "type": "string",
                      "defaultValue": "[resourceGroup().location]",
                      "metadata": {
                        "description": "Azure region."
                      }
                    },
                    "principalId": {
                      "type": "string",
                      "metadata": {
                        "description": "Principal ID of the Logic App system-assigned managed identity that needs to use the connection."
                      }
                    },
                    "tenantId": {
                      "type": "string",
                      "defaultValue": "[subscription().tenantId]",
                      "metadata": {
                        "description": "Tenant ID for the managed identity principal."
                      }
                    }
                  },
                  "resources": [
                    {
                      "type": "Microsoft.Web/connections/accessPolicies",
                      "apiVersion": "2018-07-01-preview",
                      "name": "[format('{0}/{1}', parameters('connectionName'), parameters('principalId'))]",
                      "location": "[parameters('location')]",
                      "properties": {
                        "principal": {
                          "type": "ActiveDirectory",
                          "identity": {
                            "tenantId": "[parameters('tenantId')]",
                            "objectId": "[parameters('principalId')]"
                          }
                        }
                      }
                    }
                  ]
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]",
                "[resourceId('Microsoft.Web/connections', format('{0}-azuresentinel', parameters('logicAppName')))]"
              ]
            }
          ],
          "outputs": {
            "logicAppResourceId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
            },
            "logicAppName": {
              "type": "string",
              "value": "[parameters('logicAppName')]"
            },
            "managedIdentityPrincipalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId]"
            },
            "sentinelConnectionId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Web/connections', format('{0}-azuresentinel', parameters('logicAppName')))]"
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "roleAssignments",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "logicAppPrincipalId": {
            "value": "[reference(resourceId('Microsoft.Resources/deployments', 'logicApp'), '2025-04-01').outputs.managedIdentityPrincipalId.value]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "6750850445268028714"
            }
          },
          "parameters": {
            "logicAppPrincipalId": {
              "type": "string",
              "metadata": {
                "description": "Principal ID of the Logic App system-assigned managed identity."
              }
            }
          },
          "variables": {
            "sentinelResponderRoleId": "ab8e14d6-4a74-4a29-9ba8-549422addade"
          },
          "resources": [
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(resourceGroup().id, parameters('logicAppPrincipalId'), variables('sentinelResponderRoleId'))]",
              "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('sentinelResponderRoleId'))]",
                "principalId": "[parameters('logicAppPrincipalId')]",
                "principalType": "ServicePrincipal"
              }
            }
          ],
          "outputs": {
            "sentinelResponderAssignmentId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Authorization/roleAssignments', guid(resourceGroup().id, parameters('logicAppPrincipalId'), variables('sentinelResponderRoleId')))]"
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/deployments', 'logicApp')]"
      ]
    },
    {
      "condition": "[parameters('grantGraphPermissionsViaDeploymentScript')]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "graphPermissions",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "logicAppPrincipalId": {
            "value": "[reference(resourceId('Microsoft.Resources/deployments', 'logicApp'), '2025-04-01').outputs.managedIdentityPrincipalId.value]"
          },
          "bootstrapManagedIdentityResourceId": {
            "value": "[parameters('bootstrapManagedIdentityResourceId')]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "1029139646267551184"
            }
          },
          "parameters": {
            "logicAppPrincipalId": {
              "type": "string",
              "metadata": {
                "description": "Principal ID of the Logic App system-assigned managed identity that needs Graph perms."
              }
            },
            "bootstrapManagedIdentityResourceId": {
              "type": "string",
              "metadata": {
                "description": "Resource ID of the user-assigned MI that has AppRoleAssignment.ReadWrite.All on Graph. Pre-provisioned manually once per subscription."
              }
            },
            "location": {
              "type": "string",
              "defaultValue": "[resourceGroup().location]",
              "metadata": {
                "description": "Azure region."
              }
            },
            "tags": {
              "type": "object",
              "defaultValue": {},
              "metadata": {
                "description": "Resource tags."
              }
            },
            "forceUpdateTag": {
              "type": "string",
              "defaultValue": "[utcNow()]",
              "metadata": {
                "description": "Force-update tag for the deploymentScripts resource. Default utcNow() ensures the script re-runs on every deploy (it is idempotent inside)."
              }
            }
          },
          "variables": {
            "graphAppId": "00000003-0000-0000-c000-000000000000",
            "appRolesToGrant": [
              "SecurityIdentitiesAccount.Read.All",
              "SecurityIdentitiesUserActions.ReadWrite.All"
            ]
          },
          "resources": [
            {
              "type": "Microsoft.Resources/deploymentScripts",
              "apiVersion": "2023-08-01",
              "name": "[format('grant-graph-perms-{0}', uniqueString(parameters('logicAppPrincipalId')))]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "kind": "AzurePowerShell",
              "identity": {
                "type": "UserAssigned",
                "userAssignedIdentities": {
                  "[format('{0}', parameters('bootstrapManagedIdentityResourceId'))]": {}
                }
              },
              "properties": {
                "azPowerShellVersion": "11.0",
                "retentionInterval": "PT1H",
                "cleanupPreference": "OnSuccess",
                "forceUpdateTag": "[parameters('forceUpdateTag')]",
                "environmentVariables": [
                  {
                    "name": "TARGET_PRINCIPAL_ID",
                    "value": "[parameters('logicAppPrincipalId')]"
                  },
                  {
                    "name": "GRAPH_APP_ID",
                    "value": "[variables('graphAppId')]"
                  },
                  {
                    "name": "APP_ROLES",
                    "value": "[join(variables('appRolesToGrant'), ',')]"
                  }
                ],
                "scriptContent": "$ErrorActionPreference = \"Stop\"\nImport-Module Microsoft.Graph.Authentication\nImport-Module Microsoft.Graph.Applications\n\nConnect-MgGraph -Identity -Scopes \"AppRoleAssignment.ReadWrite.All\",\"Application.Read.All\" | Out-Null\n\n$graphSp = Get-MgServicePrincipal -Filter \"appId eq '$($env:GRAPH_APP_ID)'\"\nif (-not $graphSp) { throw \"Could not find Microsoft Graph SP\" }\n\n$rolesWanted = $env:APP_ROLES -split \",\"\nforeach ($roleName in $rolesWanted) {\n  $appRole = $graphSp.AppRoles | Where-Object { $_.Value -eq $roleName }\n  if (-not $appRole) {\n    throw \"App role '$roleName' not found on Microsoft Graph SP (it may have been renamed)\"\n  }\n\n  # Idempotent: check existing assignments first.\n  $existing = Get-MgServicePrincipalAppRoleAssignment -ServicePrincipalId $env:TARGET_PRINCIPAL_ID |\n    Where-Object { $_.AppRoleId -eq $appRole.Id -and $_.ResourceId -eq $graphSp.Id }\n\n  if ($existing) {\n    Write-Host \"[$roleName] already granted, skipping\"\n    continue\n  }\n\n  New-MgServicePrincipalAppRoleAssignment `\n    -ServicePrincipalId $env:TARGET_PRINCIPAL_ID `\n    -PrincipalId $env:TARGET_PRINCIPAL_ID `\n    -ResourceId $graphSp.Id `\n    -AppRoleId $appRole.Id | Out-Null\n  Write-Host \"[$roleName] granted\"\n}\n\n$DeploymentScriptOutputs = @{\n  grantedRoles = $rolesWanted -join \",\"\n}\n"
              }
            }
          ],
          "outputs": {
            "grantedRoles": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Resources/deploymentScripts', format('grant-graph-perms-{0}', uniqueString(parameters('logicAppPrincipalId')))), '2023-08-01').outputs.grantedRoles]"
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/deployments', 'logicApp')]"
      ]
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'logicApp'), '2025-04-01').outputs.logicAppResourceId.value]"
    },
    "logicAppName": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'logicApp'), '2025-04-01').outputs.logicAppName.value]"
    },
    "managedIdentityPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'logicApp'), '2025-04-01').outputs.managedIdentityPrincipalId.value]"
    },
    "sentinelWorkspaceResourceIdEcho": {
      "type": "string",
      "value": "[parameters('sentinelWorkspaceResourceId')]"
    }
  }
}